:root{
  --bg-color: #352050;
  --ground-color: #1DAF2B;
  --ball-color: #181115;
  --inner-color: #000030;
  --tri-color: rgba(0,0,220,1);

  --circle-factor: 18px;
  --inner-factor: 8px;
  --trianglew-factor: 7px;
  --triangleh-factor: 5px;
  --shadow-factor: 16px;
  --margin-factor: 1px;
  --shiny-factor: 1px;
  --shadowy-factor: 2px;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  padding-top: 2em;
}

.question-space, .answer-space{
  display:flex;
  align-items: center;
  margin: 0 auto;
  gap: 1em;
}

.question-space{
  width: 40%;
  min-width: 400px;
  padding: 1em 1.5em;
  border-radius: 15px;
  flex-direction:row;
}

.answer-space{
  padding: 15px 1.5em;
  width: 80%;
  flex-direction:column;
}

#question{
  width:100%;
  padding: 0.25em;
  font-size: 16px;
  height: 2.25em;
  background-color: var(--inner-color);
  color:white;
  border: 1px solid white;
  border-radius: 5px;
}

#submit{
  height: 2.5em;
  padding: 0.5em 1.5em;
  background-color: var(--tri-color);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#outer-circle, #inner-circle{
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content:center;
}

#outer-circle{
  background-color: var(--ball-color);
  width: 475px;
  height: 475px;
  position:relative;
  bottom: -25px;
  z-index:1;
}

#outer-inner{
  width: 475px;
  height: 475px;
  position:absolute;
  z-index:5;
  background-color: transparent;
  border-radius:50%;
  border: 2px solid gray;
  filter: blur(2px);
}

#inner-circle{
  width: 220px;
  height: 220px;
  background-color: var(--inner-color);
  border: 3px solid #24191F;
  box-shadow: 0 0 45px 40px black;
}

.reflection{
  background-color:transparent;
  width: 475px; 
  height: 475px;  
  border: solid 17px white;
  border-color:  white transparent transparent transparent;
  border-radius: 50%;
  position: absolute;
  transform-origin: 50% 50%;
}

#shiny{
  transform: rotate(-15deg);
  top: 3.75%;
  left: 3%;
  opacity: 0.95;
  z-index: 1;
  filter: blur(1px);
}

#shadowy{
  border: solid 28px black;
  border-color:  var(--ball-color) transparent transparent transparent;
  transform: rotate(7deg);
  top: 2.85%;
  left: 2.0%;
  z-index: 2;
}

#triangle{
  width: 200px;
  height: 140px;
  background: radial-gradient(
    farthest-corner at 50% 35%,
    var(--tri-color),
    rgba(0,0,220,0.75),
    rgba(0,0,220,0.4)
    );
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  display:flex;
  align-items: center;
  justify-content:center;
  filter: none;
  margin-top: 63px;
}

.output-question{
  color:white;
  font-size: 2.5rem;
  font-family: Rubik, sans-serif;
}

.output-answer{
  color:white;
  font-size: 1.3rem;
  margin-top: -40px;
  width:45%;
  font-family: Roboto Condensed, sans-serif;
}

.output-answer::first-letter{
  font-size: 1.7rem;
}

.ball-shadow{
  background-color: black;
  width: 420px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  bottom: 0px;
  left: 65px;
  box-shadow: 0px 0px 15px 12px;
}

.ground{
  background-color: var(--ground-color);
  width:100%;
  height:5%;
  position:fixed;
  bottom:0;
  z-index:0;
  box-shadow: 0 -5px 25px 35px var(--ground-color);
}

.blurred-answer{
  animation-name: blurring;
  animation-duration: 850ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

.blurred-question{
  animation-name: unfolding;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes blurring{
  0%{
    filter:blur(15px);
  }
  50%{
    filter: blur(12px);
  }
  100%{
    filter:blur(0px);
  }
}

@keyframes unfolding{
  0%{
    transform: scale(0.2, 4);
    filter:blur(10px);
  } 
  100%{
    transform: scale(1, 1);
    filter: blur(0px);
  }
}

.anim1{
  animation-name: rotated;
  animation-duration: 200ms;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
}

.anim2{
  animation-name: wildshake;
  animation-duration: 75ms;
  animation-iteration-count: 5;
  animation-timing-function: ease-out;
}

.anim3{
  animation-name: wiggle;
  animation-duration: 100ms;
  animation-iteration-count: 5;
  animation-timing-function: ease-out;
}


@keyframes wildshake {
  0%{
    transform: translate(-5%,0%);
  }
  50%{
    transform: translate(5%,1%);
  }
  100%{
    transform: translate(-5%,0%);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
 80% {
    transform: rotate(0deg);
  }
 85% {
    transform: rotate(17deg);
}
 95% {
    transform: rotate(-17deg);
}
100% {
    transform: rotate(0deg);
}
}

@keyframes rotated{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg)
  }
  99%{
    transform: rotate(357deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 1200px){
  html{
    font-size: 15px;
  }

  #outer-circle{
    bottom: -35px;
  }

  #outer-circle, #outer-inner, .reflection{
    width: calc(475px - var(--circle-factor));
    height: calc(475px - var(--circle-factor));
  }

  #inner-circle{
    width: calc(220px - var(--inner-factor));
    height: calc(220px - var(--inner-factor));
  }

  #triangle{
    width: calc(200px - var(--trianglew-factor));
    height: calc(140px - var(--triangleh-factor));
    margin-top: calc(63px - var(--margin-factor));
  }

  .ball-shadow{
    width: calc(420px - var(--shadow-factor));
    bottom: calc(0px - 10px);
  }

  .output-answer{
    margin-top: calc(-40px + var(--margin-factor));
  }

  .reflection{
    border-width: calc(17px - var(--shiny-factor));
  }

  #shadowy{
    border-width: calc(28px - var(--shadowy-factor));
  }

}

@media only screen and (max-width: 992px){
  html{
    font-size: 14px;
  }

  #outer-circle{
    bottom: -45px;
  }

  #outer-circle, #outer-inner, .reflection{
    width: calc(475px - var(--circle-factor) * 2);
    height: calc(475px - var(--circle-factor) * 2);
  }

  #inner-circle{
    width: calc(220px - var(--inner-factor) * 2);
    height: calc(220px - var(--inner-factor) * 2);
  }

  #triangle{
    width: calc(200px - var(--trianglew-factor) * 2);
    height: calc(140px - var(--triangleh-factor) * 2);
    margin-top: calc(63px - var(--margin-factor) * 2);
  }

  .ball-shadow{
    width: calc(420px - var(--shadow-factor) * 2);
    bottom: calc(0px - 20px);
  }

  .output-answer{
    margin-top: calc(-40px + var(--margin-factor) * 2);
  }

  .reflection{
    border-width: calc(17px - var(--shiny-factor) * 2);
  }

  #shadowy{
    border-width: calc(28px - var(--shadowy-factor) * 2);
  }

}

@media only screen and (max-width: 768px){
  html{
    font-size: 13px;
  }

  #outer-circle{
    bottom: -55px;
  }

  #outer-circle, #outer-inner, .reflection{
    width: calc(475px - var(--circle-factor) * 3);
    height: calc(475px - var(--circle-factor) * 3);
  }

  #inner-circle{
    width: calc(220px - var(--inner-factor) * 3);
    height: calc(220px - var(--inner-factor) * 3);
  }

  #triangle{
    width: calc(200px - var(--trianglew-factor) * 3);
    height: calc(140px - var(--triangleh-factor) * 3);
    margin-top: calc(63px - var(--margin-factor) * 3);
  }

  .ball-shadow{
    width: calc(420px - var(--shadow-factor) * 3);
    bottom: calc(0px - 30px);
  }

  .output-answer{
    margin-top: calc(-40px + var(--margin-factor) * 3);
  }

  .reflection{
    border-width: calc(17px - var(--shiny-factor) * 3);
  }

  #shadowy{
    border-width: calc(28px - var(--shadowy-factor) * 3);
  }

}

@media only screen and (max-width: 600px){
  html{
    font-size: 12px;
  }

  .App {
    gap: 1em;
    justify-content: center;
  }

  #outer-circle{
    bottom: -70px;
  }

  #outer-circle, #outer-inner, .reflection{
    width: calc(475px - var(--circle-factor) * 5);
    height: calc(475px - var(--circle-factor) * 5);
  }

  #inner-circle{
    width: calc(220px - var(--inner-factor) * 5);
    height: calc(220px - var(--inner-factor) * 5);
  }

  #triangle{
    width: calc(200px - var(--trianglew-factor) * 5);
    height: calc(140px - var(--triangleh-factor) * 5);
    margin-top: calc(63px - var(--margin-factor) * 5);
  }

  .ball-shadow{
    width: calc(420px - var(--shadow-factor) * 5);
    bottom: calc(0px - 50px);
  }

  .output-answer{
    margin-top: calc(-40px + var(--margin-factor) * 5);
  }

  .reflection{
    border-width: calc(17px - var(--shiny-factor) * 5);
  }

  #shadowy{
    border-width: calc(28px - var(--shadowy-factor) * 5);
  }

}

